<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	 xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="true">

	<!-- 启用spring注解 -->
	<context:annotation-config />
	<context:component-scan base-package="com.zjgt">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
	
	<!-- PropertiesUtils -->
	<bean id="propertiesUtils" class="com.zjgt.util.PropertiesUtils"
		lazy-init="false" init-method="load"></bean>
	
	<!-- 动态获取springContext工具类 -->
	<bean id="springContextUtil" class="org.springfk.pancloud.utils.SpringContextUtil"
		lazy-init="false"></bean>
    
    <!-- 预加载bean的声明 -->
	<bean id="preloadService" lazy-init="false"
		class="org.springfk.pancloud.daoframework.cache.preload.PreloadService">
	</bean>
	
	<bean id="cacheAdminFactory" class="org.springfk.pancloud.cacheframework.cache.CacheAdminFactory" factory-method="getInstance">
	 	<constructor-arg index="0" value="memcached" />
		<constructor-arg index="1" value="memcached.xml" />
	</bean>  
	<bean id="cacheClient" factory-bean="cacheAdminFactory" factory-method="getCacheClient"/>
</beans>