<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjgt.p2p.dao.LLPayMapper" >
   
   
  <select id="getBankCodeByName" resultType="java.lang.String" parameterType="java.lang.String" >
      SELECT bankcode FROM ll_bank_code WHERE bankname = #{name};
  </select>
  <select id="getProvinceIdByName" resultType="java.lang.String" parameterType="java.lang.String" >
      SELECT code FROM ll_city_code WHERE provinceName = #{name} AND cityName = '';
  </select>
  <select id="getCityIdByName" resultType="java.lang.String" parameterType="java.lang.String" >
      SELECT code FROM ll_city_code WHERE cityName = #{name};
  </select>
</mapper>